index index.php index.html index.htm;
location ~ \.php$ {

    fastcgi_pass unix:/run/php/php7.3-fpm.sock;
    fastcgi_index index.php;

    # include the fastcgi_param setting
    include fastcgi_params;

    fastcgi_param SCRIPT_FILENAME $document_root/$fastcgi_script_name;
}