# certs sent to the client in SERVER HELLO are concatenated in ssl_certificate
ssl_certificate /etc/letsencrypt/live/leomaroni.de/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/leomaroni.de/privkey.pem;

{% include './ssl_domains_general.conf.j2' %}
