ssl_certificate /etc/letsencrypt/live/labcode.party/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/labcode.party/privkey.pem;
ssl_protocols TLSv1.2 TLSv1.3;
ssl_prefer_server_ciphers   on;
ssl_ciphers "ECDH+AESGCM:ECDH+AES256:!aNULL:!MD5:!DSS:!DH:!AES128";