# certs sent to the client in SERVER HELLO are concatenated in ssl_certificate
ssl_certificate /etc/letsencrypt/live/bechilli.de/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/bechilli.de/privkey.pem;

{% include './templates/helpers/ssl_domains_general.conf.j2' %}
