version: "3"
services:
  web:
    labels:
      traefik.enable: "true"
      traefik.http.services.jitsi-web.loadbalancer.server.port: 80
      traefik.http.services.jitsi-web.loadbalancer.server.scheme: http
      traefik.http.routers.jitsi-web_http.rule: "Host(`{{ ansible_fqdn }}`) || Host(`{{ jitsi.public_url }}`) || Host(`meet.labcode.de`)"
      traefik.http.routers.jitsi-web_http.entryPoints: "http"
      traefik.http.routers.jitsi-web_http.middlewares: "https_redirect@file"
      traefik.http.routers.jitsi-web_https.entryPoints: "https"
      traefik.http.routers.jitsi-web_https.rule: "Host(`{{ ansible_fqdn }}`) || Host(`{{ jitsi.public_url }}`) || Host(`meet.labcode.de`)"
      traefik.http.routers.jitsi-web_https.tls.certresolver: "le_http"
    restart: always

  prosody:
    restart: always

  jicofo:
    restart: always

  jvb:
    restart: always
