config interface 'loopback'
	option ifname 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'

config globals 'globals'
	#option ula_prefix 'fd8f:d15b:9f40:200::/56'

config interface 'wan'
	option ifname 'eth0'
	option proto 'pppoe'
	option username '{{ lookup('passwordstore', 'infra/1und1/ppp subkey=user') }}'
	option password '{{ lookup('passwordstore', 'infra/1und1/ppp') }}'
	option host_uniq '13790000'
	option peerdns '0'
	option ipv6 'auto'

config interface 'lan'
	option type 'bridge'
	option ifname 'eth1'
	option proto 'static'
	option ipaddr '10.151.0.1'
	option netmask '255.255.252.0'
	option ip6assign '64'
	option ip6hint '1'
	list ip6class 'wan_6'
	list ip6class 'wgserver'
	list ip6class 'wgfdg'

config interface 'lantethys'
	option type 'bridge'
	option ifname 'eth2'
	option proto 'static'
	option ipaddr '10.151.4.254'
	option netmask '255.255.255.0'
	option ip6assign '64'
	option ip6hint '2'
	list ip6class 'wan_6'
	list ip6class 'wgserver'

config interface 'lanencladus'
	option type 'bridge'
	option ifname 'eth3'
	option proto 'static'
	option ipaddr '10.151.5.254'
	option netmask '255.255.255.0'
	option ip6assign '64'
	option ip6hint '3'
	list ip6class 'wan_6'
	list ip6class 'wgserver'

config interface 'wgserver'
	option proto 'wireguard'
	option private_key '{{ lookup('passwordstore', 'infra/host/atlas.int.sig.de.labcode.de/wg-server') }}'
	option listen_port '30001'
	option nohostroute '1'
	list addresses '10.151.12.128/22'
	list addresses 'fd8f:d15b:9f40::1/48'
	list ip6prefix 'fd8f:d15b:9f40:100::/56'

config wireguard_wgserver 'sternpunkt'
	option description 'sternpunkt'
	option public_key '376YjLMEUFHWFE5Xkn3qRyIQ/kAHzM4DhvIcC5boCQ8='
	option endpoint_host 'wg-sternpunkt.em0lar.dev'
	option endpoint_port '51441'
	option persistent_keepalive '25'
	option route_allowed_ips '1'
	list allowed_ips '10.151.9.0/24'
	list allowed_ips '10.151.16.0/24'
	list allowed_ips 'fd8f:d15b:9f40:0900::/56'
	list allowed_ips 'fd8f:d15b:9f40:0c00::/54'
