config interface 'loopback'
	option ifname 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'

config globals 'globals'
	#option ula_prefix 'fd8f:d15b:9f40:200::/56'

config interface 'wan'
	option ifname 'eth0'
	option proto 'pppoe'
	option username '{{ lookup('passwordstore', 'infra/1und1/ppp subkey=user') }}'
	option password '{{ lookup('passwordstore', 'infra/1und1/ppp') }}'
	option host_uniq '13790000'
  option peerdns '0'
	option ipv6 'auto'

config interface 'henet'
	option proto '6in4'
	option peeraddr '216.66.80.30'
	option ip6addr '2001:470:1f0a:e6d::2/64'
	option username 'em0lar'
	option tunnelid '{{ lookup('passwordstore', 'infra/tunnelbroker.net/int.sig.de subkey=id') }}'
	option password '{{ lookup('passwordstore', 'infra/tunnelbroker.net/int.sig.de') }}'
	list ip6prefix '2001:470:7285::/48'

config interface 'lan'
	option type 'bridge'
	option ifname 'eth1'
	option proto 'static'
	option ipaddr '10.151.0.1'
	option netmask '255.255.252.0'
	option ip6assign '60'
	option ip6hint '0'
	list ip6class 'wan_6'

config interface 'lantethys'
	option type 'bridge'
	option ifname 'eth2'
	option proto 'static'
	option ipaddr '10.151.4.254'
	option netmask '255.255.255.0'
	option ip6assign '60'
	option ip6hint '10'
	list ip6class 'henet'

config interface 'lanencladus'
	option type 'bridge'
	option ifname 'eth3'
	option proto 'static'
	option ipaddr '10.151.5.254'
	option netmask '255.255.255.0'
	option ip6assign '60'
	option ip6hint '20'
	list ip6class 'henet'
