config interface 'loopback'
	option ifname 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'

config globals 'globals'
	#option ula_prefix 'fd8f:d15b:9f40:200::/56'

config interface 'wan'
	option ifname 'eth0'
	option proto 'pppoe'
	option username '{{ lookup('passwordstore', 'infra/1und1/ppp subkey=user') }}'
	option password '{{ lookup('passwordstore', 'infra/1und1/ppp') }}'
	option host_uniq '13790000'
	option peerdns '0'
	option ipv6 'auto'

config interface 'henet'
	option proto '6in4'
	option peeraddr '216.66.80.30'
	option ip6addr '2001:470:1f0a:e6d::2/64'
	option username 'em0lar'
	option tunnelid '{{ lookup('passwordstore', 'infra/tunnelbroker.net/int.sig.de subkey=id') }}'
	option password '{{ lookup('passwordstore', 'infra/tunnelbroker.net/int.sig.de') }}'
	list ip6prefix '2001:470:1f0b:e6f::/64'
	list ip6prefix '2001:470:7285::/48'

config interface 'lan'
	option type 'bridge'
	option ifname 'eth1'
	option proto 'static'
	option ipaddr '10.151.0.1'
	option netmask '255.255.252.0'
	option ip6assign '64'
	option ip6hint '1'
	list ip6class 'wan_6'
	list ip6class 'wgserver'
	list ip6class 'wgfdg'

config interface 'lantethys'
	option type 'bridge'
	option ifname 'eth2'
	option proto 'static'
	option ipaddr '10.151.4.254'
	option netmask '255.255.255.0'
	option ip6assign '64'
	option ip6hint '2'
	list ip6class 'henet'
	list ip6class 'wgserver'

config interface 'lanencladus'
	option type 'bridge'
	option ifname 'eth3'
	option proto 'static'
	option ipaddr '10.151.5.254'
	option netmask '255.255.255.0'
	option ip6assign '64'
	option ip6hint '3'
	list ip6class 'henet'
	list ip6class 'wgserver'

config interface 'wgserver'
	option proto 'wireguard'
	option private_key '{{ lookup('passwordstore', 'infra/host/atlas.int.sig.de.labcode.de/wireguard-server') }}'
	option listen_port '30001'
	option nohostroute '1'
	list addresses '10.151.12.128/22'
	list addresses 'fd8f:d15b:9f40:0c10::1/64'
	list ip6prefix 'fd8f:d15b:9f40:0c10::/60'

config wireguard_wgserver 'janus'
	option description 'janus'
	option public_key '{{ lookup('passwordstore', 'infra/host/janus.ion.rhr.de.labcode.de/wireguard-server subkey=public') }}'
	option endpoint_host '2001:8d8:1800:30a::1'
	option endpoint_port '40001'
	option persistent_keepalive '25'
	option route_allowed_ips '1'
	list allowed_ips '10.151.12.0/22'
	list allowed_ips 'fd8f:d15b:9f40:0c00::/54'

config interface 'wgfdg'
	option proto 'wireguard'
	option private_key '{{ lookup('passwordstore', 'infra/host/atlas.int.sig.de.labcode.de/wireguard-fdg') }}'
	option listen_port '30002'
	option nohostroute '1'
	list addresses 'fd59:974e:6ee8:1002::1/64'
	list ip6prefix 'fd59:974e:6ee8:1000::/60'

config wireguard_wgfdg 'mars'
	option description 'mars'
	option public_key '{{ lookup('passwordstore', 'shared/fahrplandatengarten/infra/wireguard subkey=public') }}'
	option endpoint_host 'mars.het.nue.de.fahrplandatengarten.de'
	option endpoint_port '40000'
	option persistent_keepalive '25'
	option route_allowed_ips '1'
	list allowed_ips 'fd59:974e:6ee8::/48'
