[submodule "roles/docker"]
	path = roles/docker
	url = https://git.labcode.dev/ansible_roles/docker
[submodule "roles/n0emis.base"]
	path = roles/n0emis.base
	url = https://github.com/n0emis/ansible-role-base.git
[submodule "roles/jnv.unattended-upgrades"]
	path = roles/jnv.unattended-upgrades
	url = https://github.com/jnv/ansible-role-unattended-upgrades
[submodule "roles/postgresql"]
	path = roles/postgresql
	url = https://git.labcode.dev/ansible_roles/postgresql.git
[submodule "roles/borgbase.borgbackup"]
	path = roles/borgbase.borgbackup
	url = https://github.com/em0lar/ansible-role-borgbackup.git
[submodule "roles/adamruzicka.wireguard"]
	path = roles/adamruzicka.wireguard
	url = https://github.com/n0emis/ansible-wireguard
[submodule "roles/n0emis.dn42"]
	path = roles/n0emis.dn42
	url = https://git.n0emis.eu/ansible_roles/dn42.git
[submodule "roles/systemli.coturn"]
	path = roles/systemli.coturn
	url = https://github.com/systemli/ansible-role-coturn
[submodule "roles/fahrplandatengarten.icinga"]
	path = roles/fahrplandatengarten.icinga
	url = https://github.com/FahrplanDatenGarten/ansible-role-icinga
[submodule "roles/ocha.yarn"]
	path = roles/ocha.yarn
	url = https://github.com/ocha/ansible-role-yarn.git
[submodule "roles/gantsign.oh-my-zsh"]
	path = roles/gantsign.oh-my-zsh
	url = https://github.com/gantsign/ansible-role-oh-my-zsh
[submodule "roles/mailcow.mailcow"]
	path = roles/mailcow.mailcow
	url = https://github.com/mailcow/mailcow-ansiblerole
