docker stop kanban-iot.labcode.dev-app

docker exec kanban-iot.labcode.dev-db mongodump -o /dump/

tar cfz /volume/backup/labcode.dev/kanban-iot.labcode.dev/db-data.tar.gz /volume/docker/labcode.dev/kanban-iot.labcode.dev/db-dump

rm -r /volume/docker/labcode.dev/kanban-iot.labcode.dev/db-dump/*

chown rsync-backup:rsync-backup /volume/backup/labcode.dev/kanban-iot.labcode.dev/*

docker start kanban-iot.labcode.dev-app
