[Unit]
Description=Mautrix Telegram service
After=network.target

[Service]
Type=simple
WorkingDirectory={{ mautrix_telegram_base_path }}
ExecStart={{ mautrix_telegram_base_path }}/.venv/bin/python -m mautrix_telegram -c {{ mautrix_telegram_config_path }}/config.yaml -r {{ mautrix_telegram_config_path }}/registration.yaml
Restart=always
User=mautrix-telegram
Group=mautrix-telegram

[Install]
WantedBy=multi-user.target
