server {
    server_name labcodede.labcode.party;
    root /var/www/labcode.de/labcode.de;
    index index.php index.html index.htm;
}

server {
    listen 443 ssl default_server;
    server_name labcodede.labcode.party;

    root /var/www/labcode.de/labcode.de;

    ssl_certificate /etc/letsencrypt/live/labcode.party/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/labcode.party/privkey.pem;
}