http:
  routers:
    api_http:
      rule: "Host(`traefik.{{inventory_hostname}}`)"
      service: "api@internal"
      entryPoints:
        - "http"
      middlewares:
        - "https_redirect"
    api_https:
      rule: "Host(`traefik.{{inventory_hostname}}`)"
      tls:
        certResolver: "le_tls"
      service: "api@internal"
      entryPoints:
        - "https"
      middlewares:
        - "api_auth"
    grafana-opendatamap-net_http:
      rule: "Host(`grafana.opendatamap.net`)"
      service: "grafana-opendatamap-net@file"
      entryPoints:
        - "http"
      middlewares:
        - "https_redirect"
    grafana-opendatamap-net_https:
      rule: "Host(`grafana.opendatamap.net`)"
      service: "grafana-opendatamap-net@file"
      entryPoints:
        - "https"
      tls:
        certResolver: "le_tls"
    node-red-opendatamap-net_http:
      rule: "Host(`node-red.opendatamap.net`)"
      service: "node-red-opendatamap-net@file"
      entryPoints:
        - "http"
      middlewares:
        - "https_redirect"
    node-red-opendatamap-net_https:
      rule: "Host(`node-red.opendatamap.net`)"
      service: "node-red-opendatamap-net@file"
      entryPoints:
        - "https"
      tls:
        certResolver: "le_tls"
    kanban-opendatamap-net_http:
      rule: "Host(`kanban.opendatamap.net`)"
      service: "kanban-opendatamap-net@file"
      entryPoints:
        - "http"
      middlewares:
        - "https_redirect"
    kanban-opendatamap-net_https:
      rule: "Host(`kanban.opendatamap.net`)"
      service: "kanban-opendatamap-net@file"
      entryPoints:
        - "https"
      tls:
        certResolver: "le_tls"
    rhein-sieg-opendatamap-net_http:
      rule: "Host(`rhein-sieg.opendatamap.net`)"
      service: "rhein-sieg-opendatamap-net@file"
      entryPoints:
        - "http"
      middlewares:
        - "https_redirect"
    rhein-sieg-opendatamap-net_https:
      rule: "Host(`rhein-sieg.opendatamap.net`)"
      service: "rhein-sieg-opendatamap-net@file"
      entryPoints:
        - "https"
      tls:
        certResolver: "le_tls"
  middlewares:
    https_redirect:
      redirectScheme:
        scheme: "https"
    api_auth:
      basicAuth:
        realm: "Tickets, please!"
        removeHeader: true
        users:
          - "labcode:$apr1$h8hfBKva$F/yHCivbn8V3tIahYaNQE/"
    cors:
      headers:
        accessControlAllowOrigin: "*"
        addVaryHeader: true
  services:
    grafana-opendatamap-net:
      loadBalancer:
        servers:
          - url: "http://51.15.20.74:3000"
    node-red-opendatamap-net:
      loadBalancer:
        servers:
          - url: "http://51.15.20.74:1880"
    kanban-opendatamap-net:
      loadBalancer:
        servers:
          - url: "http://51.15.20.74:3010"
    rhein-sieg-opendatamap-net:
      loadBalancer:
        servers:
          - url: "http://51.15.20.74:3005"
tls:
  options:
    default:
      minVersion: "VersionTLS12"
      cipherSuites: [
        "TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384",
        "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384",
        "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256",
        "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256",
        "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305",
        "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305"
      ]