options {
    directory "{{ powerdns_base_directory }}/bind";
};

zone "lbcd.dev" IN {
	type master;
	file "zones/lbcd.dev";
};

zone "labcode.de" IN {
	type master;
	file "zones/labcode.de";
};

zone "em0lar.de" IN {
	type master;
	file "zones/em0lar.de";
};

zone "em0lar.dev" IN {
	type master;
	file "zones/em0lar.dev";
};

zone "emolar.de" IN {
	type master;
	file "zones/emolar.de";
};

zone "labcode.dev" IN {
	type master;
	file "zones/labcode.dev";
};

zone "leomaroni.de" IN {
	type master;
	file "zones/leomaroni.de";
};

zone "opendatamap.net" IN {
	type master;
	file "zones/opendatamap.net";
};

zone "lovelycuti.es" IN {
	type master;
	file "zones/lovelycuti.es";
};

zone "bechilli.de" IN {
	type master;
	file "zones/bechilli.de";
	also-notify { 213.239.242.238; 213.133.105.6; 193.47.99.3; };
};
