docker stop kanban.labcode.dev-app

docker exec kanban.labcode.dev-db mongodump -o /dump/

tar cfz /volume/backup/labcode.dev/kanban.labcode.dev/db-data.tar.gz /volume/docker/labcode.dev/kanban.labcode.dev/db-dump

rm -r /volume/docker/labcode.dev/kanban.labcode.dev/db-dump/*

chown backup:backup /volume/backup/labcode.dev/kanban.labcode.dev/*

docker start kanban.labcode.dev-app
