docker stop cloud.leomaroni.de-app

docker exec cloud.leomaroni.de-db /usr/bin/mysqldump \
  -u "{{ nextcloud_db_user }}" --password="{{ nextcloud_db_password }}" \
  "{{ nextcloud_db_database }}" > /volume/backup/leomaroni.de/cloud.leomaroni.de/db_data.sql

tar cfz /volume/backup/leomaroni.de/cloud.leomaroni.de/data.tar.gz /volume/docker/leomaroni.de/cloud.leomaroni.de/config /volume/docker/leomaroni.de/cloud.leomaroni.de/custom_apps /volume/docker/leomaroni.de/cloud.leomaroni.de/data /volume/docker/leomaroni.de/cloud.leomaroni.de/themes

chown rsync-backup:rsync-backup /volume/backup/leomaroni.de/cloud.leomaroni.de/*

docker start cloud.leomaroni.de-app