# hetzner secondary ns
(hetzner) {
    ## ns1.first-ns.de
    transfer to 213.239.242.238
    transfer to 2a01:4f8:0:a101::a:1
    ## robotns2.second-ns.de
    transfer to 2a01:4f8:d0a:2004::2
    transfer to 213.133.105.6
    ## robotns3.second-ns.com
    transfer to 2001:67c:192c::add:a3
    transfer to 193.47.99.3
    ## hydrogen.ns.hetzner.com
    transfer to 213.133.100.98
    transfer to 2a01:4f8:0:1::add:1098
    ## oxygen.ns.hetzner.com
    transfer to 88.198.229.192
    transfer to 2a01:4f8:0:1::add:2992
    ## helium.ns.hetzner.de
    transfer to 193.47.99.5
    transfer to 2001:67c:192c::add:5
}

# Hurricane Electric secondary ns
(he) {
    transfer to *

    transfer to 216.218.130.2 # ns1.he.net
}

bechili.de {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.bechili.de {
        import hetzner
    }
}

bechilli.com {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.bechilli.com {
        import hetzner
    }
}

bechilli.de {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.bechilli.de {
        import hetzner
    }
}

em0lar.de {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.em0lar.de {
        import hetzner
    }
}

emolar.de {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.emolar.de {
        import hetzner
    }
}

hicologne.com {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.hicologne.com {
        import hetzner
    }
}

dyn.labcode.de {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /home/dyndns
    file db.dyndns.zone {
        import he
    }
}

labcode.de {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.labcode.de {
        import hetzner
    }
}

labcode.dev {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.labcode.dev {
        import hetzner
    }
}

lbcd.dev {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.lbcd.dev {
        import hetzner
    }
}

leomaroni.de {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.leomaroni.de {
        import hetzner
    }
}

opendatamap.net {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.opendatamap.net {
        import hetzner
    }
}
