# hetzner secondary ns
(hetzner) {
    transfer to 213.239.242.238
    transfer to 213.133.105.6
    transfer to 193.47.99.3

    transfer to 213.133.100.98
    transfer to 88.198.229.192
    transfer to 193.47.99.5
}

bechilli.de {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.bechilli.de {
        import hetzner
    }
}

em0lar.de {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.em0lar.de {
        import hetzner
    }
}

emolar.de {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.emolar.de {
        import hetzner
    }
}

fahrplandatengarten.de {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.fahrplandatengarten.de {
        import hetzner
    }
}

hicologne.com {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.hicologne.com {
        import hetzner
    }
}

labcode.de {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.labcode.de {
        import hetzner
    }
}

labcode.dev {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.labcode.dev {
        import hetzner
    }
}

lbcd.dev {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.lbcd.dev {
        import hetzner
    }
}

leomaroni.de {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.leomaroni.de {
        import hetzner
    }
}

opendatamap.net {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.opendatamap.net {
        import hetzner
    }
}