bechilli.de {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.bechilli.de {
        # hetzner secondary ns
        transfer to 78.46.255.56
        transfer to 213.239.242.238
        transfer to 213.133.105.6
        transfer to 193.47.99.3

        transfer to 213.133.100.98
        transfer to 88.198.229.192
        transfer to 193.47.99.5
    }
}

em0lar.de {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.em0lar.de {
        # hetzner secondary ns
        transfer to 78.46.255.56
        transfer to 213.239.242.238
        transfer to 213.133.105.6
        transfer to 193.47.99.3

        transfer to 213.133.100.98
        transfer to 88.198.229.192
        transfer to 193.47.99.5
    }
}

emolar.de {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.emolar.de {
        # hetzner secondary ns
        transfer to 78.46.255.56
        transfer to 213.239.242.238
        transfer to 213.133.105.6
        transfer to 193.47.99.3

        transfer to 213.133.100.98
        transfer to 88.198.229.192
        transfer to 193.47.99.5
    }
}

fahrplandatengarten.de {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.fahrplandatengarten.de {
        # hetzner secondary ns
        transfer to 78.46.255.56
        transfer to 213.239.242.238
        transfer to 213.133.105.6
        transfer to 193.47.99.3

        transfer to 213.133.100.98
        transfer to 88.198.229.192
        transfer to 193.47.99.5
    }
}

hicologne.com {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.hicologne.com {
        # hetzner secondary ns
        transfer to 78.46.255.56
        transfer to 213.239.242.238
        transfer to 213.133.105.6
        transfer to 193.47.99.3

        transfer to 213.133.100.98
        transfer to 88.198.229.192
        transfer to 193.47.99.5
    }
}

labcode.de {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.labcode.de {
        # hetzner secondary ns
        transfer to 78.46.255.56
        transfer to 213.239.242.238
        transfer to 213.133.105.6
        transfer to 193.47.99.3

        transfer to 213.133.100.98
        transfer to 88.198.229.192
        transfer to 193.47.99.5
    }
}

labcode.dev {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.labcode.dev {
        # hetzner secondary ns
        transfer to 78.46.255.56
        transfer to 213.239.242.238
        transfer to 213.133.105.6
        transfer to 193.47.99.3

        transfer to 213.133.100.98
        transfer to 88.198.229.192
        transfer to 193.47.99.5
    }
}

lbcd.dev {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.lbcd.dev {
        # hetzner secondary ns
        transfer to 78.46.255.56
        transfer to 213.239.242.238
        transfer to 213.133.105.6
        transfer to 193.47.99.3

        transfer to 213.133.100.98
        transfer to 88.198.229.192
        transfer to 193.47.99.5
    }
}

leomaroni.de {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.leomaroni.de {
        # hetzner secondary ns
        transfer to 78.46.255.56
        transfer to 213.239.242.238
        transfer to 213.133.105.6
        transfer to 193.47.99.3

        transfer to 213.133.100.98
        transfer to 88.198.229.192
        transfer to 193.47.99.5
    }
}

opendatamap.net {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}

    root /etc/coredns/zones
    file db.opendatamap.net {
        # hetzner secondary ns
        transfer to 78.46.255.56
        transfer to 213.239.242.238
        transfer to 213.133.105.6
        transfer to 193.47.99.3

        transfer to 213.133.100.98
        transfer to 88.198.229.192
        transfer to 193.47.99.5
    }
}