 //.              -+-
 /:.:.`        `.-`+-
 /: `-:::::::::-.` /-
-+/:++--oooo+/-/++-+/.      _          _      ____          _
ooo+/+-.:ooo+:-/+/ooo/     | |    __ _| |__  / ___|___   __| | ___
o+:. .:/+ooooo/-` ./+/     | |   / _` | '_ \| |   / _ \ / _` |/ _ \
o. `+o-`-ooo+-`/o+  :/     | |__| (_| | |_) | |__| (_) | (_| |  __/
o:` .s:  :::-  ++` .//     |_____\__,_|_.__/ \____\___/ \__,_|\___|
.:/:/.`` ---. ``-/:/-`
   `-+++:yNds:++/.

{{ ansible_fqdn }}
