server {
    server_name kanban-opendatamap-net.labcode.party;
    {% include './templates/helpers/ssl_redirect.conf.j2' %}
}

server {
    listen 443 ssl http2;
    server_name kanban-opendatamap-net.labcode.party;

    {% set proxypass_url="http://51.15.20.74:3010" %}
    {% include './templates/helpers/proxypass.conf.j2' %}
    {% include './templates/helpers/cors.conf.j2' %}
    {% include './templates/helpers/general.conf.j2' %}
    {% include './templates/helpers/ssl_hsts.conf.j2' %}
    {% include './templates/helpers/ssl_labcode_party.conf.j2' %}
}