server {
    server_name node.red.opendatamap.net;
    {% include './templates/helpers/ssl_redirect.conf.j2' %}
}

server {
    listen 443 ssl http2;
    server_name node.red.opendatamap.net;

    {% set proxypass_url="http://51.15.20.74:1880" %}
    {% include './templates/helpers/proxypass.conf.j2' %}
    {% include './templates/helpers/general.conf.j2' %}
    {% include './templates/helpers/ssl_hsts.conf.j2' %}
    {% include './templates/helpers/ssl_domains_opendatamap.net.conf.j2' %}
}